/* vim: set shiftwidth=2 tabstop=2 noexpandtab textwidth=80 wrap : */

pre
	display none
	position absolute
	border 1px solid #aaa
	box-shadow 0px 2px 5px -1px rgba(black, 0.5)
	border-radius 3px
	padding 5px
	background white
	overflow auto
	text-align left
	font-weight normal

td, th
	cursor pointer
	padding 2px 5px
td
	text-align right

.open pre
	display block

.testcases
	display flex
	overflow auto
	.testcase
		flex 1

.testcase .three
	background #eee
.testcase .userfour
	background #ddd
